<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:form="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">  
<head>
    <meta charset="UTF-8" />
    <title>Novo Usuário</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="jumbotron text-center">
	  		<h1>Biblioteca</h1>
		</div>
	
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
			<li class="breadcrumb-item active" aria-current="page">Alterando Usuário</li>
			</ol>
		</nav>	
	
		<a sec:authorize="hasAuthority('ROLE_BASIC')" class="btn btn-sm btn-info" href="#" th:href="@{/}" style="width:150px"></i>Voltar</a>
		<a sec:authorize="hasAuthority('ROLE_ADMIN')" class="btn btn-sm btn-info" href="#" th:href="@{/user/index}" style="width:150px"></i>Voltar para Lista</a>
	
		<div layout:fragment="content" class="container">
		    <form id="userForm" th:action="@{/user/gravar}" method="post" th:object="${userForm}" action="#" >	   
		        <div class="form-group row">
		            <input type="hidden"  th:field="*{id}" />
							            
		            <div class="form-group" style="width: 100%">
			            <label for="staticTitulo" class="col-sm-2 col-form-label">Nome</label>
			            <div style="width: 100%">
			                <input type="text" th:field="*{nome}"  class="form-control" id="staticTitulo" >
			                <span  th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Nome Error</span>
			            </div>
		            </div>
		            		            
		            <div class="form-group" style="width: 100%">
			            <label for="staticTitulo" class="col-sm-2 col-form-label">Nível de Acesso</label>
			            <div class="col-sm-15">
			                <select form="userForm" th:object="${userForm}" th:field="*{role}" class="form-control">
			                    <option value="">Nível de Acesso</option>
			                    <option th:each="role : ${roles}" th:value="${role.id}" th:utext="${role.descricao}" selected="selected"></option>
			                </select>
			            </div>
			        </div>    
			        
			        <div class="form-group" style="width: 100%">
			            <label for="staticTitulo" class="col-sm-2 col-form-label">Senha</label>
			            <div style="width: 100%">
			                <input type="password" th:field="*{senha}"  class="form-control" id="staticTitulo" >
			                <span  th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}">Senha Error</span>
			            </div>
		            </div>
		            
		            <button type="submit" class="btn btn-primary" style="width:150px">Salvar</button>
		        </div>
		    </form>
		</div>
	</div>

	
</body>
</html>