<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:form="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head>
    <meta charset="UTF-8" /> 
    <title>Biblioteca</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
<body>
	<div class="container">
		<div class="jumbotron text-center">
			<h1>Biblioteca</h1>
	  	</div>
		
		<ul class="nav breadcrumb">
			<li class="nav-item">
				<a class="nav-link" href="#" th:href="@{/}">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" th:href="@{/autor/index}">Autores</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" th:href="@{/livros/index}">Livros</a>
			</li>		
			<li class="nav-item" sec:authorize="hasAuthority('ROLE_BASIC')">
				<a  class="nav-link" href="#" th:href="@{/user/alterarusuario}">Usuário</a>
			</li>	
			<li class="nav-item" sec:authorize="hasAuthority('ROLE_ADMIN')">
				<a  class="nav-link" href="#" th:href="@{/user/index}">Gerenciar Usuários</a>
			</li>		
			<li class="nav-item">
				<a class="nav-link" href="#" th:href="@{/user/logout}">Sair</a>
			</li>
		</ul>
	
	    <nav aria-label="breadcrumb">
			<ol class="breadcrumb">
			<li class="breadcrumb-item active" aria-current="page">Listagem de Usuários</li>
			</ol>
		</nav>
		
			
		<h1 layout:fragment="header">
    		<a th:href="@{/user/register}" class="btn btn-sm btn-info"><i class="glyphicon glyphicon-plus"></i>Cadastrar Novo</a>
		</h1>
	
		<table class="table table-striped table-hover">	
		    <thead class="thead-light">
			    <tr>
			      <th scope="col" style="width:100px">ID</th>
			      <th scope="col" style="width:400px">Nome</th>
			      <th scope="col" style="width:200px">Tipo</th>
			      <th scope="col" style="width:210px"></th>
			    </tr>
		    </thead>
			<tr th:each="user : ${listaUsers}">
				<td th:text="${user.id}"></td>
				<td th:text="${user.nome}"></td>		
				<td th:text="${user.role.descricao}"></td>
				<td>
					<a class="btn btn-sm btn-info" style="width:100px" th:href="@{'/user/alterar/'+${user.id}}">Alterar</a>
				    <a class="btn btn-sm btn-danger" style="width:100px" th:href="@{'/user/excluir/'+${user.id}}">Excluir</a>
				</td>		
				
			</tr>
		</table>
	</div>
</body>
</html>
