<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<meta charset="UTF-8" />
	<title>Biblioteca</title>
</head>
<body>
	<div class="container">
		<div class="jumbotron text-center" style="height: 160px">
	  		<h1>Biblioteca</h1>
		</div>
		
		<div class="container" style="background-color: buttonface; width: 450px;">
			<div class="container" style="width: 400px; height: 70px; padding-top: 20px;">
				<h2 style="text-align: center;">Acesso ao Sistema</h2>
			</div>
		
			<div class="container" style="width: 350px">	
				<form id="userForm" th:action="@{/user/authentication}" th:object="${userForm}" action="#" method="post">
					<label for="staticTitulo">Usuário</label> 
					<input type="text" class="form-control" th:field="*{nome}"/><span  th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Nome Error</span><br/>
					<label for="staticTitulo">Senha</label>
					<input type="password" class="form-control" th:field="*{senha}"/><span  th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}">Senha Error</span><br/>
					<input class="btn btn-sm btn-info" style="width: 150px; margin-bottom: 20px" type="submit" name="login" value="Login" />				
					
				</form>
				<a class="btn btn-sm btn-danger" style="width:150px; margin-bottom: 20px" th:href="@{/user/registration}">Registrar</a>
			</div>
		</div>
	</div>
</body>
</html>